<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/nav.ejs") %>
        <h1>Priority: <%= priority.name %></h1>
        <h2>Priority Level: <%= priority.level %></h2>
        <a href="/priorities/<%= priority.id %>/edit">Edit</a> |
        <a href="/priorities/<%= priority.id %>/delete">Delete</a>
        <h3>Priority tasks</h3>
        <ul>
            <% priorityTasks.forEach((task) => { %>
            <li>
                <a href="/tasks/<%= task.id %>"> <%= task.name %> </a>
            </li>
            <% }) %>
        </ul>
    </body>
</html>
