<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/nav.ejs") %>
        <h1>You are about to delete Task '<%= task.name %>'. Type in password to proceed.</h1>
        <h2>This will destroy all Note references to this task.</h2>
        <form action="/tasks/<%= task.id %>?_method=DELETE" method="post">
            <div>
                <label for="password">Password (!)</label>
                <input type="password" id="password" name="password" />
            </div>
            <input type="submit" value="Delete Task" />
        </form>
        <%- include("../partials/formErrors.ejs") %>
    </body>
</html>
