<form action="<%= action %>" method="post" enctype="multipart/form-data">
    <div>
        <label for="password">Password (!)</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>
        <label for="title">Title <i>(optional)</i></label>
        <input type="text" name="title" maxlength="100" value="<%= locals.note ? note.title : '' %>" />
    </div>
    <div>
        <label for="text">Text</label>
        <textarea name="text" required maxlength="1000"><%= locals.note ? note.text : '' %></textarea>
    </div>
    <div>
        <label for="task">Task <i>(optional)</i></label>
        <select name="task" id="task">
            <option value="">Select Task</option>
            <% tasks.forEach((task)=> { %>
            <option <% if (locals.note) { %>
                <% if (note.task == task.id) { %> selected <% } %> <% } %> value="<%= task.id %>"><%= task.name %>
            </option>
            <% }); %>
        </select>
    </div>
    <div>
        <label for="image">Image <i>(optional)</i></label>
        <input type="file" id="image" name="image" />
    </div>
    <div>
        <input type="checkbox" id="deleteImage" name="deleteImage" />
        <label for="deleteImage">No Image</label>
    </div>
    <input type="submit" value="<%= submitValue %>" />
</form>
