<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/nav.ejs") %>
        <h1>Note <%= note.id %></h1>
        <a href="/notes/<%= note.id %>/edit">Edit</a>
        <form action="/notes/<%= note.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Note" />
        </form>
        <% if(note.task) {%>
        <h3>Task: <a href="/tasks/<%= note.task.id %>"><%= note.task.name %></a></h3>
        <% } %> <% if(note.title) {%>
        <h2><%= note.title %></h2>
        <% } %>
        <p><%= note.text %></p>
    </body>
</html>
