<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/nav.ejs") %>
        <h1><%= project.name %></h1>
        <% if(project.description) {%>
        <p><b>Project Description:</b> <%= project.description %></p>
        <% } %>
        <a href="/projects/<%= project.id %>/edit">Edit</a>
        <form action="/projects/<%= project.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete (This will delete all tasks of this project)" />
        </form>
        <h3>Project tasks</h3>
        <ul>
            <% projectTasks.forEach((task) => { %>
            <li>
                <a href="/tasks/<%= task.id %>"> <%= task.name %> </a>
            </li>
            <% }) %>
        </ul>
    </body>
</html>
